<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h2 class="text-uppercase">
            DREAMS COME TRUE -<br>
            Indonesia Station<br>
            International Youth Football Tournament
          </h2>
          <mat-divider style="color: #2196f3;background-color: #2196f3;"></mat-divider>
          
          <p class="mt-5 text-center">Turnamen sepakbola pembibitan (U7 – U16) <b>DREAMS COME TRUE YOUTH FOOTBALL LEAGUE WORLDWIDE</b> 
            ini merupakan salah satu kompetisi sepakbola tahunan berjenjang terbesar dan 
            sukses di China serta dibeberapa negara anggotanya dan telah berdiri selama 15 tahun. 
            Pada tahun 2022 mendatang salah satu Seri Internasional Turnamen ini akan mulai diselenggarakan 
            juga di Indonesia dengan nama <b>INDONESIA DREAMS COME TRUE CUP (IDCT Cup).</b> 
            Turnamen ini akan mendorong pengenalan budaya sekaligus meningkatkan Sport Tourism penyelenggaranya. 
            Dalam <b>Seri Internasional</b> turnamen sepakbola yang akan mulai diselenggarakan di Indonesia ini 
            diharapkan seluruh negara partisipannya dapat juga menikmati keindahan Indonesia (Wonderful Indonesia).</p>
    
        <p class=" text-center">Guna menyaring tim <b>TIMNAS PELAJAR</b> yang akan mewakili Indonesia pada setiap <b>Seri Internasional</b> 
            baik yang dilaksanakan di beberapa negara lain maupun di Indonesia, maka diadakan turnamen 
            <b><u>DREAMS COME TRUE CUP & LEAGUE</u> road to International.</b> 
            Turnamen ini mulai dilaksanakan di Indonesia tahun 2017 serta  akan rutin diselenggarakan setiap tahun pada 
            Kategori Usia 8 – 16 tahun (U8 – U16) dan diselenggarakan dari 
            <b>SERI REGIONAL</b> (lebih dari 15 provinsi) sampai ke <b>FINAL NASIONAL</b>. Tim Juara (Champion) pada 
            <b>FINAL NASIONAL</b> akan melanjutkan ke <b>Seri Internasional</b> Turnamen <b>Dreams Come True Soccer League Worldwide</b> 
            yang diselenggarakan baik di China, Thailand, Australia, Hongkong, Indonesia dan beberapa negara lainnya.</p>
            
        <p class=" text-center">Kompetisi Sepakbola <b>DREAMS COME TRUE - Indonesia Station</b> ini mendukung program pemerintah dalam 
            <b>Inpres No. 3</b> tahun 2019 tentang <u><i>Percepatan Pembangunan Persepakbolaan Nasional</i></u> sekaligus 
            membantu dalam mecetak bibit-bibit bertalenta yang dapat berkancah baik di klub-klub Dalam maupun Luar Negeri. 
            Kegiatan ini sekaligus mendorong kemajuan pariwisata Tanah Air. 
            Dalam waktu dekat dicanangkan akan dibuka <u><i>Akademi Sepakbola DCT Indonesia</i></u> yang terafiliasi 
            dengan jaringan <u><i>Dreams Come True Interntional</i></u>diseluruh dunia.</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Links</h5>
            <mat-divider style="color: #2196f3;background-color: #2196f3;"class="mb-3"></mat-divider>
            <ul class="list-unstyled">
              <li>
                <a href="">Home</a>
              </li>
              <li>
                <a href="/tournament">Tournament</a>
              </li>
              <li>
                <a href="#!">Register</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Contact Us</h5>
            <mat-divider style="color: #2196f3;background-color: #2196f3;" class="mb-3"></mat-divider>
            <ul class="list-unstyled">
                <mat-icon>place</mat-icon><span> DREAMS COME TRUE - Indonesia Station Komplek Mega Grosir Cempaka Mas M1-59, JL. Letjen Suprapto, Cempaka Putih, Jakarta 10640 – Indonesia</span>
                <br>
                <mat-icon> local_phone</mat-icon><span> +62.21.420 0871, +62.811. 9191 992 WA: +62.815 15 111 555
                </span>
            </ul>

          </div>
          <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Dreams Come True - DCT Indonesia
    </div>
    <!-- Copyright -->

  </footer>
