<div class="content mb-3 mt-3">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                <b>International Tournament(IDCT CUP)</b>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="keteranganpanel">
                <img src="../../../assets/pngLogoDCT_LightBackground.png" style="width: 300px;display:flex;margin: auto;">
                <div class="info">
                    <mat-tab-group>
                        <mat-tab label="IDCT Information"> IDCT Information </mat-tab>
                        <mat-tab label="Rules & Regulation"> Rules & Regulation </mat-tab>
                        <mat-tab label="Schedules"> Schedules </mat-tab>
                        <mat-tab label="Venue"> Venue </mat-tab>
                        <mat-tab label="IDCT Participants"> IDCT Participants </mat-tab>

                    </mat-tab-group>
                </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                <b>National Tournament (DCT CUP)</b>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="keteranganpanel">
                <img src="../../../assets/pngLogoDCT_LightBackground.png" style="width: 300px;display:flex;margin: auto;">
                <div class="info">
                    <mat-tab-group>
                        <mat-tab label="Information"> DCT Information </mat-tab>
                        <mat-tab label="Rules & Regulation">
                            <div class="mattabcontent">
                                <img style="width: 1100px;" src="../../../assets/TournamentDCT1.png" alt="">
                                <img style="width: 1100px;" src="../../../assets/TournamentDCT2.png" alt="">
                            </div>
                         </mat-tab>
                        <mat-tab label="Schedules"> 
                            <div class="mattabcontent">
                                <img src="../../../assets/DCTCup_rundown.jpg" alt="">
                            </div>
                        </mat-tab>
                        <mat-tab label="DCT Cup Regional Series"> DCT Cup Regional Series </mat-tab>
                        <mat-tab label="DCT Cup Final Series"> DCT Cup Final Series </mat-tab>
                        <mat-tab label="DCT Cup Participants"> DCT Cup Participants </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                <b>National League(DCT League)</b>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="keteranganpanel">
                <img src="../../../assets/pngLogoDCT_LightBackground.png" style="width: 300px;display:flex;margin: auto;">
                <div class="info">
                    <mat-tab-group>
                        <mat-tab label="Information"> DCT League Information </mat-tab>
                        <mat-tab label="Rules & Regulation"> 
                            
                        </mat-tab>
                        <mat-tab label="Schedules"> 
                            <img src="../../" alt="">
                        </mat-tab>
                        <mat-tab label="DCT League Regional Series"> DCT Cup Regional Series </mat-tab>
                        <mat-tab label="DCT League Final Series"> DCT Cup Final Series </mat-tab>
                        <mat-tab label="DCT League Participants"> DCT Cup Participants </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>
