.content{
    width: 80%;
    height: fit-content;
    margin: auto;
}
.video{
    height: 400px;
    padding: 0;
}

p{
    text-align: justify;
    font-size: 16px;
    font-family: htowert;
}

.carousel{
    min-height: 160px;
}
.row{
    height:230px;
}
.carousel-inner img{
    width:45%; height: auto;
    max-width: 155px;
}
.col-md{
    align-self: center;
}
.col-md-4{
    align-self: center;
}
button{
    background-color: lightgray;
    width: 50px;
}