<div class="content text-center">
        <!-- Supported By. -->
        <h1 class="mt-2">Supported By</h1>
        <mat-divider style="color: #2196f3;background-color: #2196f3;height: 2px; width: 20%;margin: auto;" class="mb-3">
        </mat-divider>

        <div id="carouselExampleIndicators" class="carousel slide sz-slider mb-5 mt-4"
            data-bs-touch="false"
            data-bs-interval="2900"
            data-bs-ride="carousel"
        >
        <!--kemenko pmk, menpora, mendikbud, mendagri, Wonderful Indonesia, 
            Pesona Indonesia, PSSI, KBPP Polri, BNN, Fokan, GMDM, 
            DCT China, DCT Indonesia -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="single-box">
                                <div class="img-area"><img src="../../../assets/Supportsby/``kemenkoPMK copy.png" alt=""></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="single-box">
                                <div class="img-area"><img src="../../../assets/Supportsby/1. Logo_Kemenpora.png" alt=""></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="single-box">
                                <div class="img-area"><img src="../../../assets/Supportsby/e90d0-logokementerianpendidikan.png" alt=""></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="single-box">
                                <div class="img-area"><img src="../../../assets/Supportsby/```KEMENDAGRI.png" alt=""></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="single-box">
                                <div class="img-area"><img src="../../../assets/Supportsby/3b. Pesona Indonesia Warna_preview copy.png" alt=""></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="single-box">
                                <div class="img-area"><img src="../../../assets/Supportsby/Logo pssi 3.png" alt="Pesona Indonesia"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="single-box">
                                <div class="img-area"><img src="../../../assets/Supportsby/`````LOGO KBPP POLRI ok.png" alt=""></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="single-box">
                                <div class="img-area"><img src="../../../assets/Supportsby/```8. .BNN_ copy.png" alt=""></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="single-box">
                                <div class="img-area"><img src="../../../assets/Supportsby/```12. FOKANcopy.png" alt=""></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="single-box">
                                <div class="img-area"><img src="../../../assets/Supportsby/```6. WhatsApp Image 2018-05-23 at 12.30.32.png" alt=""></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="single-box">
                                <div class="img-area"><img src="../../../assets/Supportsby/DCT.png" alt=""></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="single-box">
                                <div class="img-area"><img src="../../../assets/Supportsby/DCT China.jpeg" alt=""></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" style="color: black;" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" style="color: black;" aria-hidden="false"></span>
                <!-- <span class="carousel-control-prev-icon" style="color: black;" aria-hidden="false"><mat-icon style="color: black;">navigate_previous</mat-icon></span> -->
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </button>

        </div>
        <!-- partner. -->
        <h1 class="mt-2">Partners</h1>
        <mat-divider style="color: #2196f3;background-color: #2196f3;height: 2px; width: 20%;margin: auto;" class="mb-3">
        </mat-divider>

        <div id="carouselExampleIndicators2" class="carousel slide sz-slider mb-5 mt-4"
            data-bs-touch="false"
            data-bs-interval="2900"
            data-bs-ride="carousel"
        >
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-md">
                            <div class="single-box">
                                <div class="img-area"><a href="https://aturtoko.id/" target="_blank"><img src="../../../assets/partners/ico-atk.webp" alt=""></a></div>
                            </div>
                        </div>
                        <!--<div class="col-md">
                            <div class="single-box">
                                <div class="img-area"><img src="../../../assets/partners/``Logo tvOne BG Merah.png" alt=""></div>
                            </div>
                        </div>-->
                        <!--<div class="col-md-4">
                            <div class="single-box">
                                <div class="img-area"><img src="../../../assets/sponsor/Pegadaian_logo_(2013).svg.png" alt=""></div>
                            </div>
                        </div>-->
                    </div>
                </div>
                <!--<div class="carousel-item">
                    <div class="row">
                    </div>
                </div>-->
            </div>
            <!--<button class="carousel-control-prev" type="button" style="color: black;" data-bs-target="#carouselExampleIndicators2" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" style="color: black;" aria-hidden="false"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </button>-->

        </div>
        <!-- Sponsor -->
        <h1 class="mt-2">Sponsors</h1>
        <mat-divider style="color: #2196f3;background-color: #2196f3;height: 2px; width: 20%;margin: auto;" class="mb-3">
        </mat-divider>

        <div id="carouselExampleIndicators3" class="carousel slide sz-slider mb-5 mt-4"
            data-bs-touch="false"
            data-bs-interval="2900"
            data-bs-ride="carousel"
        >
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <!--<div class="row">
                        <div class="col-md-4">
                            <div class="single-box">
                                <div class="img-area"><img src="../../../assets/sponsor/SIG-1.jpg" alt=""></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="single-box">
                                <div class="img-area"><img src="../../../assets/sponsor/Proteam.png" alt=""></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="single-box">
                                <div class="img-area"><img src="../../../assets/sponsor/Pegadaian_logo_(2013).svg.png" alt=""></div>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
            <!--<button class="carousel-control-prev" type="button" style="color: black;" data-bs-target="#carouselExampleIndicators3" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" style="color: black;" aria-hidden="false"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </button>-->
            
        </div>
        <!-- video -->
        <div class="container video">
            <div class="row">
              <div class="col">
                <video width="520" height="360" controls>
                    <source src="../../../assets/video/1.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
              </div>
              <div class="col">
                <video width="520" height="360" controls>
                    <source src="../../../assets/video/1.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <!-- <video width="320" height="240" controls>
                    <source src="movie.mp4" type="video/mp4">
                    <source src="movie.ogg" type="video/ogg">
                    Your browser does not support the video tag.
                </video> -->
              </div>
            </div>
          </div>
</div>
