<div class="content text-center">
    <h1 class="mt-2">About Us</h1>
    <mat-divider style="color: #2196f3;background-color: #2196f3;height: 2px; width: 20%;margin: auto;" class="mb-3">
    </mat-divider>
    <p>Turnamen sepakbola pembibitan (U7 – U16) <b>DREAMS COME TRUE YOUTH FOOTBALL LEAGUE WORLDWIDE</b> 
        ini merupakan salah satu kompetisi sepakbola tahunan berjenjang terbesar dan 
        sukses di China serta dibeberapa negara anggotanya dan telah berdiri selama 15 tahun. 
        Pada tahun 2022 mendatang salah satu Seri Internasional Turnamen ini akan mulai diselenggarakan 
        juga di Indonesia dengan nama <b>INDONESIA DREAMS COME TRUE CUP (IDCT Cup).</b> 
        Turnamen ini akan mendorong pengenalan budaya sekaligus meningkatkan Sport Tourism penyelenggaranya. 
        Dalam <b>Seri Internasional</b> turnamen sepakbola yang akan mulai diselenggarakan di Indonesia ini 
        diharapkan seluruh negara partisipannya dapat juga menikmati keindahan Indonesia (Wonderful Indonesia).</p>

    <p>Guna menyaring tim <b>TIMNAS PELAJAR</b> yang akan mewakili Indonesia pada setiap <b>Seri Internasional</b> 
        baik yang dilaksanakan di beberapa negara lain maupun di Indonesia, maka diadakan turnamen 
        <b><u>DREAMS COME TRUE CUP & LEAGUE</u> road to International.</b> 
        Turnamen ini mulai dilaksanakan di Indonesia tahun 2017 serta  akan rutin diselenggarakan setiap tahun pada 
        Kategori Usia 8 – 16 tahun (U8 – U16) dan diselenggarakan dari 
        <b>SERI REGIONAL</b> (lebih dari 15 provinsi) sampai ke <b>FINAL NASIONAL</b>. Tim Juara (Champion) pada 
        <b>FINAL NASIONAL</b> akan melanjutkan ke <b>Seri Internasional</b> Turnamen <b>Dreams Come True Soccer League Worldwide</b> 
        yang diselenggarakan baik di China, Thailand, Australia, Hongkong, Indonesia dan beberapa negara lainnya.</p>
        
    <p>Kompetisi Sepakbola <b>DREAMS COME TRUE - Indonesia Station</b> ini mendukung program pemerintah dalam 
        <b>Inpres No. 3</b> tahun 2019 tentang <u><i>Percepatan Pembangunan Persepakbolaan Nasional</i></u> sekaligus 
        membantu dalam mecetak bibit-bibit bertalenta yang dapat berkancah baik di klub-klub Dalam maupun Luar Negeri. 
        Kegiatan ini sekaligus mendorong kemajuan pariwisata Tanah Air. 
        Dalam waktu dekat dicanangkan akan dibuka <u><i>Akademi Sepakbola DCT Indonesia</i></u> yang terafiliasi 
        dengan jaringan <u><i>Dreams Come True Interntional</i></u>diseluruh dunia.</p>

</div>
