.content{
    width: 80%;
    margin: auto;
}
p{
    text-align: justify;
    font-size: 16px;
    font-family: htowert;
}

.carousel{
    min-height: 150px;
}
.carousel img{
    width: 50%;
    margin: auto;
}
.col-md-4{
    align-self: center;
}
button{
    background-color: grey;
    width: 50px;
}