.form{
    width: 40%;
    margin: auto;
    border: 1px lightgrey solid;
}
.form-control{
    margin-top: 5px;
    width: 70%;
    margin: auto;
}
button{
    background-color: black;color: white;
}
@media(max-width:700px){
    .form-control{
        width: 85%;
        font-size: 14px;
    }
    .form{
        width: 75%;
    }
    label{
        font-size: 14px;
    }
}
@media (max-width:500px) {
    .form{
        width: 90%;
    }
}