.form{
    width: 50%;
    margin: auto;
    border: 1px lightgrey solid;
}
.form-control{
    margin-top: 5px;
    width: 70%;
    margin: auto;
}
button{
    background-color: black;color: white;
}
.info{
    width: 100%;
    margin: auto;
    font-size: 12px;
}
.info .col{
    padding-left: 5px;padding-right: 5px;
}
.col li{
    margin-left: 7%;
}
@media(max-width:850px){
    .form-control{
        width: 85%;
        font-size: 14px;
    }
    .form{
        width: 75%;
    }
    label{
        font-size: 14px;
    }
    .col li{
        margin-left: 0%;
    }
}
@media (max-width:500px) {
    .form{
        width: 90%;
    }
}