<div class="content text-center">
    <h1 class="mt-2">DCT ACADEMY</h1>
    <mat-divider style="color: #2196f3; background-color: #2196f3;height: 2px;width: 20%;margin: auto;" class="mb-3">
    </mat-divider>
    <div class="main">
        <div class="mb-5">
            <h2>INFORMATION</h2>
            <div class="col2 mt-4">
                <p style="text-align: left;">DCT Academy adalah</p>
                <img src="../../../assets/DCT China.jpeg">
            </div>
        </div>
        <div class="mb-5">
            <h2>STRUKTUR ACADEMY</h2>
            <div class="col2 mt-4">
                <img src="../../../assets/DCT China.jpeg">
                <p style="text-align: left;">Struktur Academy ini adalah</p>
            </div>
        </div>
        <div class="mb-5">
            <h2 class="mb-2">DCT FC TEAMS</h2>
            <div class="col2 mt-4">
                <p style="text-align: left;">DCT FC TEAMS</p>
                <img src="../../../assets/DCT China.jpeg">
            </div>
        </div>
    </div>
</div>
