<div class="content text-center">
    <h1 class="mt-2 mb-5">Wonderful Indonesia</h1>

    <div class="main">
        <div class="mb-5">
            <h2>Java Island</h2>
            <mat-divider style="color: #2196f3; background-color: #2196f3;height: 2px;width: 20%;margin: auto;" class="mb-3">
            </mat-divider>
            <div class="col2 mt-4">
                <p style="text-align: left;">DCT Academy adalah</p>
                <img src="../../../assets/DCT China.jpeg">
            </div>
        </div>
        <div class="mb-5">
            <h2>Thousand Island</h2>
            <mat-divider style="color: #2196f3; background-color: #2196f3;height: 2px;width: 20%;margin: auto;" class="mb-3">
            </mat-divider>
            <div class="col2 mt-4">
                <img src="../../../assets/DCT China.jpeg">
                <p style="text-align: left;">DCT Academy adalah</p>
            </div>
        </div>
        <div class="mb-5">
            <h2>Bali Island</h2>
            <mat-divider style="color: #2196f3; background-color: #2196f3;height: 2px;width: 20%;margin: auto;" class="mb-3">
            </mat-divider>
            <div class="col2 mt-4">
                <p style="text-align: left;">DCT Academy adalah</p>
                <img src="../../../assets/DCT China.jpeg">
            </div>
        </div><div class="mb-5">
            <h2>Nusa Tenggara Islands</h2>
            <mat-divider style="color: #2196f3; background-color: #2196f3;height: 2px;width: 20%;margin: auto;" class="mb-3">
            </mat-divider>
            <div class="col2 mt-4">
                <img src="../../../assets/DCT China.jpeg">
                <p style="text-align: left;">DCT Academy adalah</p>
            </div>
        </div><div class="mb-5">
            <h2>Maluku Islands</h2>
            <mat-divider style="color: #2196f3; background-color: #2196f3;height: 2px;width: 20%;margin: auto;" class="mb-3">
            </mat-divider>
            <div class="col2 mt-4">
                <p style="text-align: left;">DCT Academy adalah</p>
                <img src="../../../assets/DCT China.jpeg">
            </div>
        </div><div class="mb-5">
            <h2>Sumatera Island</h2>
            <mat-divider style="color: #2196f3; background-color: #2196f3;height: 2px;width: 20%;margin: auto;" class="mb-3">
            </mat-divider>
            <div class="col2 mt-4">
                <img src="../../../assets/DCT China.jpeg">
                <p style="text-align: left;">DCT Academy adalah</p>
            </div>
        </div><div class="mb-5">
            <h2>Kalimantan Island</h2>
            <mat-divider style="color: #2196f3; background-color: #2196f3;height: 2px;width: 20%;margin: auto;" class="mb-3">
            </mat-divider>
            <div class="col2 mt-4">
                <p style="text-align: left;">DCT Academy adalah</p>
                <img src="../../../assets/DCT China.jpeg">
            </div>
        </div><div class="mb-5">
            <h2>Papua Island</h2>
            <mat-divider style="color: #2196f3; background-color: #2196f3;height: 2px;width: 20%;margin: auto;" class="mb-3">
            </mat-divider>
            <div class="col2 mt-4">
                <img src="../../../assets/DCT China.jpeg">
                <p style="text-align: left;">DCT Academy adalah</p>

            </div>
        </div>
    </div>
</div>
