.content {
  width: 80%;
  margin: auto;margin-bottom: 29px;
}
table {
    width: 100%;
  }
@media(min-width:720px){
  .remindermobile{
    display: none;
  }
}
@media(max-width:812px){
  .content {
    width: 95%;
  }
}