.form{
    width: 40%;
    margin: auto;
    border: 1px lightgrey solid;
}
.form-control{
    width: 70%;
    margin: auto;
}
button{
    background-color: black;color: white;
}
@media(max-width:700px){
    .form-control{
        width: 85%;
        font-size: 14px;
    }
    .form{
        width: 70%;
    }
    label{
        font-size: 14px;
    }
}
@media (max-width:500px) {
    .form{
        width: 90%;
    }
    label{
        font-size: 13px;
    }
}
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 75px;
    height: 75px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }