.form{
    width: 55%;
    margin: auto;
    border: 1px lightgrey solid;
    
}
.col2{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
}
.form-control{
    width: 70%;
    margin: auto;
}
button{
    background-color: black;color: white;
}
@media(max-width:700px){
    .form-control{
        width: 85%;
        font-size: 14px;
    }
    .form{
        width: 80%;
    }
    label{
        font-size: 14px;
    }
}
@media (max-width:500px) {
    .form{
        width: 95%;
    }
    label{
        font-size: 13px;
    }
}