.form{
    width: 55%;
    margin: auto;
    border: 1px lightgrey solid;
    
}
.col2{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
}
.form-control{
    width: 70%;
    margin: auto;
}
button{
    background-color: black;color: white;
}