<div class="content text-center">
    <div class="main">
        <div class="mb-5">
            <h2>Sport News</h2>
            <mat-divider style="color: #2196f3; background-color: #2196f3;height: 2px;width: 20%;margin: auto;" class="mb-3">
            </mat-divider>
            <div class="col2 mt-4">
                <img src="../../../assets/DCT China.jpeg">
            </div>
        </div>
        <div class="mb-5">
            <h2>Tournament News</h2>
            <mat-divider style="color: #2196f3; background-color: #2196f3;height: 2px;width: 20%;margin: auto;" class="mb-3">
            </mat-divider>
            <div class="col2 mt-4">
                <img src="../../../assets/DCT China.jpeg">
            </div>
        </div>
        <div class="mb-5">
            <h2>Others News</h2>
            <mat-divider style="color: #2196f3; background-color: #2196f3;height: 2px;width: 20%;margin: auto;" class="mb-3">
            </mat-divider>
            <div class="col2 mt-4">
                <img src="../../../assets/DCT China.jpeg">
            </div>
        </div>
    </div>
</div>
